body {
    margin: 0;
    background-image: url("C:\\Users\\mvars\\engagement\\public\\natural-paper.png");
    background-repeat: repeat;
    background-color: #36ADA3;
}

title {
    font-family: "Tangerine", sans-serif;
}

// .parent-container {
//     display: flex;
//     height: 20vh;
// }

// .child-element {
//     margin: auto;
// }